/* @font-face {
    font-family: "Gill Sans Nova Medium";
    src: url("https://db.onlinewebfonts.com/t/516e47a06218699c319bb58e9fa11f33.eot");
    src:
        url("https://db.onlinewebfonts.com/t/516e47a06218699c319bb58e9fa11f33.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/516e47a06218699c319bb58e9fa11f33.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/516e47a06218699c319bb58e9fa11f33.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/516e47a06218699c319bb58e9fa11f33.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/516e47a06218699c319bb58e9fa11f33.svg#Gill Sans Nova Medium") format("svg");
}
 */
html {
    font-size: 16px;
    color: #38414e;
    background-color: #d2e6f3;
}

* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.modal-box {
    max-width: 40vw;
    background-color: #eef7fb;
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.36);
}

.modal-box > .title {
    font-size: 2rem;
    font-weight: bold;
    -webkit-box-shadow: 0px -66px 300px -25px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px -66px 300px -25px rgba(0, 0, 0, 0.51);
    box-shadow: 0px -66px 300px -25px rgba(0, 0, 0, 0.51);
}

.login-form {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.text-input {
    color: #38414e;
    background-color: #d2e6f3;
    border-radius: 30px;
    border: 0px solid #d2e6f3;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.text-input:focus {
    outline-color: #bed0dc;
}

.hint {
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 0.7rem;
}

.hint-icon {
    height: 1rem;
    padding-right: 5px;
    transform: translateY(0.2rem);
}

a {
    text-decoration: underline;
    color: #59dfb6;
}

.button {
    color: #38414e;
    width: 100%;
    background-color: #edf5f9;
    border-radius: 30px;
    border: 2px solid #edf5f9;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.3), inset 0px 0px 0px 2px rgba(89, 223, 183, 1);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.3), inset 0px 0px 0px 2px rgba(89, 223, 183, 1);
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.3), inset 0px 0px 0px 2px rgba(89, 223, 183, 1);
}

.button:hover {
    background-color: #59dfb6;
}

.button:active {
    background-color: #50caa5;
}

.tab {
    background-color: #ebf4f9;
    border-radius: 30px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}

.tab:focus {
    background-color: #d2e6f3;
    border-radius: 30px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
